#root {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ff6161;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(143, 24, 24);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
