
# import the necessary packages
from torch import nn, flatten

class CNN(nn.Module):
    def __init__(self):     
        super(CNN,self).__init__()
        {%- for layer in layers %}
        self.{{layer.name}} = nn.{{layer.type}}(
            {% for param in layer.params -%}
            {{param}}={{layer.params[param]}},
            {%- endfor %}
        ),
        {% endfor %}

    def forward(self, x):
        {% for layer in layers -%}
        {%- if layer.name == 'fcA' -%}
        x = flatten(x, 1)
        {% endif -%}

        x = self.{{layer.name}}(x)
        {% endfor %}
        return x